ion-content {
    --ion-background-color: rgb(0, 148, 94);
  
  }
  
  .div-img-bf {
    text-align: center;
    margin: 40px;
  }
  
  .titulo {
    text-align: center;
    font-family: bomfuturoBold;
    color: white;
    margin: 40px;
  }
  
  .div-form {
    margin: 0px 30px;
    font-family: bomFuturoThinItalic;
    color: white;
    border: 2px solid;
    border-radius: 40px;
    border-color: rgb(255, 191, 60) !important;
    margin-bottom: 15px;
  
  }
  
  .div-form:focus {
    background-color: transparent !important;
    color: white !important;
    border-color: rgb(255, 191, 60) !important;
  }
  
  .div-form-espacamento {
    margin: 30px;
    font-family: bomFuturoThinItalic;
    color: white;
    border: 2px solid;
    border-radius: 40px;
    border-color: rgb(255, 191, 60) !important;
    text-indent: 12px;
    margin: 0px 30px;
    margin-bottom: 15px;
  }
  
  ion-input::placeholder {
    color: white !important;
  }
  
  ion-item {
    border-color: red !important;
  }
  
  .label-form {
    font-family: bomFuturoMedium;
    color: white;
  }
  
  
  .div-button-enviar {
  
    text-align: center;
  }
  
  .entrar {
    font-family: bomfuturoMedium;
    padding: 17px;
    border-radius: 29px;
    width: 85%;
    background: white;
  
  }
  
  .span-entrar {
    color: #00945e !important;
  }
  
  .errorMessage {
    text-align: center;
    font-family: 'bomFuturoBold';
    color: red;
    margin: 10px;
  }
  
  .olhoSenha {
    border-left: 0 !important;
    font-size: 1em;
    background: transparent;
    color: rgb(255, 191, 60);
  
  }
  
  .botaoOlhoSenha {
    background: transparent;
  }
  
  .icon-olho {
    font-size: 1.5em;
    color: white;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .button-scanner {
    margin-top: 80px;
    background: transparent;
    position: fixed;
    bottom: 30px;
    width: 100%;
  
  
  }
  
  .icon-camera {
    color: rgb(255, 191, 60);
    font-size: 40px;
  }
  
  .footerLogin {
    height: 50px;
    padding: 0px;
    margin: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .nomeAppVersion {
    color: white;
    text-align: center;
    display: block;
    font-size: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: bomFuturoMedium;
  }
  
  .divLogarGoogle{
    text-align: center;
  }

  .buttonLogarGoogle{
    background-color: rgb(255, 255, 255);
    width: 10%;
    border-radius: 40px;
    padding: 20px 0px;
    margin: 2%;
  }
