<ion-content [fullscreen]="true">

  <div class="div-img-bf">
    <img class="logoBf" src="../../assets/img/bfWhite.png" alt="">
  </div>
  <h3 class="titulo">Bem vindo ao BF Ecommerce</h3>

  <div class="div-form-espacamento">
    <ion-input class="label-form" placeholder="Usuário" [(ngModel)]="usuario"></ion-input>
  </div>

  <div class="div-form">
    <div class="container" fill="outline">
      <ion-input class="label-form" placeholder="Senha" type="text" [type]="mostrarSenha ? 'text' : 'password'"
        [(ngModel)]="senha">
      </ion-input>

      <button (click)="senhaVisivel()" class="botaoOlhoSenha">
        <ion-icon class="icon-olho" [name]="mostrarSenha ? 'eye-off' : 'eye'"></ion-icon>
      </button>
    </div>
  </div>


  <div class="div-button-enviar">
    <button class="entrar" (click)="login()"><span class="span-entrar">ENTRAR</span></button>
  </div>

  <div class="div-button-enviar">
    <button class="entrar" (click)="loginGoogle()"><span class="span-entrar">ENTRAR com google</span></button>
  </div>
  <div class="div-button-enviar">
    <button class="entrar" (click)="loginGoogle()"><span class="span-entrar">Criar conta</span></button>
  </div>

  <!-- <div class="footerLogin" [hidden]="sumirElemento">
    <button (click)="scanner()" class="button-scanner">
      <ion-icon name="camera" class="icon-camera"> </ion-icon>
    </button>
    <p class="nomeAppVersion"> V{{versaoDoApp}} </p>
  </div> -->

</ion-content>
