<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>complemento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar>
      <ion-title size="large">complemento</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <img src="https://cdn.pariscityvision.com/library/image/5449.jpg" alt="">
  </div>
  <div>
    <img src="https://cdn.pariscityvision.com/library/image/5449.jpg" alt="">
  </div>
  <div>
    <img src="https://cdn.pariscityvision.com/library/image/5449.jpg" alt="">
  </div>


  <button (click)="voltarPag()" style="width: 20%; height: 5%; background-color: blueviolet;">voltar pagi</button>
</ion-content>
