<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title class="tituloHeader">BF Ecommerce</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar class="header">
      <ion-title class="tituloHeader" size="large">BF ECommerce</ion-title>
      <button (click)="login()">Fazer login</button>
    </ion-toolbar>
  </ion-header>

  <div class="container">

    <div class="menu">
      <div>
        <p>coleções</p>
      </div>
      <div>
        <p>Imoveis</p>
      </div>
      <div (click)="pagDesafiolucas()">
        <p>desafiolucas</p>
      </div>
      <div (click)="sobreNos()">
        <p><span class="sobre">Sobre</span> Nós</p>
      </div>
    </div>

    <section class="section">
      <ion-card class="ionCardBoi">
        <ion-card-header>
          <ion-card-title class="tituloBoi">O agropecuário</ion-card-title>
        </ion-card-header>
        <div class="cardBoi">
          <ion-card-content class="sobreBoi">
            Descubra uma seleção requintada de produtos e soluções de primeira linha para atender às demandas do
            seu negócio agropecuário
          </ion-card-content>
          <img class="imgBoi" alt="Silhouette of mountains" src="../../assets/imgs/boi.png" />
        </div>
      </ion-card>

      <div class="containerSelecaoDoDia">
        <div class="titulosSelecao">
          <h5 class="tituloSelecao">Seleção do dia</h5>
          <h4 class="tituloSelecao"><span class="verTodos">Ver todos</span></h4>
        </div>

        <div class="slideSelecao">


          <div class="slide">
            <ion-card class="ionCardSelecao" lines="none">
              <img class="imgSelecao" src="../../assets/imgs/fotos-boi/boi11.png" alt="">
            </ion-card>
            <ion-card-content class="racaBoiSelecao">Angus <span>$3000</span>
            </ion-card-content>
          </div>

          <div class="slide">
            <ion-card class="ionCardSelecao" lines="none">
              <img class="imgSelecao" src="../../assets/imgs/fotos-boi/boi3.png" alt="">
            </ion-card>
            <ion-card-content class="racaBoiSelecao">Charolês <span>$2500</span></ion-card-content>
          </div>
          <div class="slide">
            <ion-card class="ionCardSelecao" lines="none">
              <img class="imgSelecao" src="../../assets/imgs/fotos-boi/boi1.png" alt="">
            </ion-card>
            <ion-card-content class="racaBoiSelecao">WAGYU <span>$5000</span></ion-card-content>
          </div>

          <div class="slide">
            <ion-card class="ionCardSelecao" lines="none">
              <img class="imgSelecao" src="../../assets/imgs/fotos-boi/boi4.png" alt="">
            </ion-card>
            <ion-card-content class="racaBoiSelecao">Hereford <span>$2500</span>
            </ion-card-content>
          </div>

          <div class="slide">
            <ion-card class="ionCardSelecao" lines="none">
              <img class="imgSelecao" src="../../assets/imgs/fotos-boi/boi5.png" alt="">
            </ion-card>
            <ion-card-content class="racaBoiSelecao">Galloway <span>$2000</span></ion-card-content>
          </div>

        </div>
      </div>

      <!--! --------------------------------- -->

      <div class="containerSelecaoDoDia">
        <div class="titulosSelecao">
          <h5 class="tituloSelecao">Psicultura</h5>
          <h4 class="tituloSelecao"><span class="verTodos">Ver todos</span></h4>
        </div>
        <div class="slideSelecao">

          <div class="slide">
            <ion-card class="ionCardSelecao" lines="none">
              <img class="imgSelecao" src="../../assets/imgs/psicultura/psicultura.jpg" alt="">
            </ion-card>
            <ion-card-content class="racaBoiSelecao">Pesqueiro <span>Nova Mutum</span>
            </ion-card-content>
          </div>

          <div class="slide">
            <ion-card class="ionCardSelecao" lines="none">
              <img class="imgSelecao" src="../../assets/imgs/psicultura/psicultura2.jpg" alt="">
            </ion-card>
            <ion-card-content class="racaBoiSelecao">Pesqueiro<span> Santa luzia</span></ion-card-content>
          </div>
          <div class="slide">
            <ion-card class="ionCardSelecao" lines="none">
              <img class="imgSelecao" src="../../assets/imgs/psicultura/psicultura3.jpg" alt="">
            </ion-card>
            <ion-card-content class="racaBoiSelecao"><span>Tilapia</span></ion-card-content>
          </div>

          <div class="slide">
            <ion-card class="ionCardSelecao" lines="none">
              <img class="imgSelecao" src="../../assets/imgs/psicultura/psicultura4.jpg" alt="">
            </ion-card>
            <ion-card-content class="racaBoiSelecao"><span>Pacu</span>
            </ion-card-content>
          </div>

          <div class="slide">
            <ion-card class="ionCardSelecao" lines="none">
              <img class="imgSelecao" src="../../assets/imgs/psicultura/psicultura6.jpg" alt="">
            </ion-card>
            <ion-card-content class="racaBoiSelecao"><span>Pirara</span></ion-card-content>
          </div>

        </div>
      </div>

    </section>
  </div>

  <ion-footer class="footer">
    <img class="logoFooter" src="../../assets/imgs/bfWhite.png" alt="">
    <div>
      <p>© Copyright 2023 - Todos os direitos reservados.</p>
    </div>
  </ion-footer>
</ion-content>
